# SLU01 - Pandas 101: Exercise notebook

In [1]:
# First things first, import:
import pandas as pd
import numpy as np
import hashlib

- In this notebook the following is tested:

    - Creating pandas Series
    - Creating pandas DataFrame
    - Load a dataset from a file
    - Preview a dataframe
    - Convert datatypes in DataFrame

## Exercise 1: Series

### 1.1 Create a pandas Series from a list.

Create a `list` with the names of the items given in the cell below. Then create a `Series` using that list, using the order provided.

Note: Let pandas generate the index on its own. Also, don't forget to delete the raise error!

In [2]:
# items (each of type string): beef, cheese, pulses, nuts, grains
items_list = ["beef", "cheese", "pulses", "nuts", "grains"]

# Create a series with the items above, and call it items_series
items_series = pd.Series(items_list)

In [3]:
# run this cell to see the results 
items_series

0      beef
1    cheese
2    pulses
3      nuts
4    grains
dtype: object

In [4]:
assert(isinstance(items_list, list)), "The data structure used is not the correct one."
assert(len([i for i in items_list if not isinstance(i, str)]) == 0), "The items inside the list should be of type string."
assert(len(items_series) == 5), "The length of the list is not correct."
assert(sum([x == y for x, y in zip(items_list, items_series.values.tolist())]) == 5), "The items don't seem correct."
assert(np.equal(items_series.index.to_numpy(), np.arange(0, 5)).sum() == 5), "The index doesn't seem correct."

### 1.2 CO<sub>2</sub> equivalents

Let's now use the `items_list` as index and build a `Series` containing the kg CO<sub>2</sub> equivalents per item (the amount of CO<sub>2</sub> corresponding to the warming effect of greenhouse gases emitted during production of the item, [ref](https://doi.org/10.1126/science.aaq0216)).

In [5]:
# RUN THIS CELL FIRST
# kg CO2 equivalents of the foods in items_list:
food_CO2 = np.array([50, 11, 0.8, 0.3, 2.7])

In [6]:
# Create a series which has items_list (created in exercise 1.1) as index, 
# and the respective value in the food_CO2 list given in the cell above as values.
CO2_eq = pd.Series(data=food_CO2, index=items_list, dtype='float64')

In [7]:
# run this cell to see the results 
CO2_eq

beef      50.0
cheese    11.0
pulses     0.8
nuts       0.3
grains     2.7
dtype: float64

In [8]:
assert (isinstance(CO2_eq, pd.Series)), "CO2_eq is not a series."
assert(len(CO2_eq==5)), "The length of CO2_eq is not correct."
assert(CO2_eq[-3] == 0.8), 'Something is wrong with the values of the series. Did you use food_CO2?'
assert(CO2_eq.index[1] == 'cheese'), 'The order of the index is not correct.'

Cool! In 1 exercise you learned 2 things:
- that a pandas Series can be built using several data structures, such as lists or numpy arrays
- that if you want to reduce your carbon footprint and help save the planet, you should turn to a plant-based diet (<300 g meat and <1.7 kg dairy per week, see here: https://takethejump.org/)
ðŸ˜ƒ ðŸŒ

## Exercise 2: DataFrames

The goal of this exercise is to create a simple DataFrame from several data structures.

In [9]:
# RUN THIS CELL FIRST
# this is the data you'll use to fill each column of your dataframe
emojis = ['Face with Tears of Joy', 'Red Heart', 'Rolling on the Floor Laughing', 'Thumbs Up']
search_engines = np.array(['Google', 'Bing', 'Yahoo!', 'Baidu'])
social_network = ['Facebook', 'Instagram', 'TikTok', 'Twitter']
social_network_active_users = [2700000000, 1200000000, 700000000, 20000000]

In [10]:
# Add the data from the lists emojis, search_engines, social_network, and social_network_active_users 
# to a dictionary called most_popular_2021_dictionary:
#   - use the 4 variables created in the cell above to fill the data for each key
#   - each key should be a string containing the name of the corresponding variable.
most_popular_2021_dictionary = {'emojis' : emojis, 
                                'search_engines' : search_engines, 
                                'social_network' : social_network, 
                                'social_network_active_users' : social_network_active_users}

# Create a dataframe called most_popular_2021_df
#   - set an index with the values 'first', 'second', 'third', 'fourth'
#   - use the dictionary created above to populate the dataframe.
most_popular_2021_df = pd.DataFrame(most_popular_2021_dictionary, index=['first', 'second', 'third', 'fourth'])

In [11]:
assert(isinstance(most_popular_2021_dictionary,dict)), 'Something is wrong! most_popular_2021_dictionary is not a dictionary.'
assert(isinstance(most_popular_2021_df, pd.DataFrame)), 'most_popular_2021 is not a DataFrame'
assert(most_popular_2021_df['emojis'].tolist()==emojis), "The emojis column doesn't look right."
assert(most_popular_2021_df['search_engines'].tolist()==list(search_engines)), "The search_engines column doesn't look right."
assert(most_popular_2021_df['social_network'].tolist()==social_network), "The social_network column doesn't look right."
assert(most_popular_2021_df.shape == (4, 4)), 'The size of the dataframe is not correct.'
assert(most_popular_2021_df.index.tolist() != ('first', 'second', 'third', 'fourth')), 'The index is not correct. Reread the instructions.'

## Exercise 3: Loading DataFrames from files

### 3.1 Load a dataset into a `ds_jobs` dataframe
Let's load a dataset with data about data science job applicants. It is a subset from a Kaggle dataset available [here](https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists).

In [12]:
# Load the dataset from the file located at data/ds_jobs.csv.
ds_jobs = pd.read_csv('data/ds_jobs.csv')

In [13]:
# Print the dataframe head() to get an idea of what you've just loaded.
ds_jobs.head()

,id,g,exp,enr,ed,m,y_exp,t_job,cdi
0,32403,Male,True,Full time course,Graduate,STEM,9,1,0.827
1,9858,Female,True,no_enrollment,Graduate,STEM,5,1,0.920
2,31806,Male,False,no_enrollment,High School,NaN,<1,never,0.624
3,27385,Male,True,no_enrollment,Masters,STEM,11,1,0.827
4,27724,Male,True,no_enrollment,Graduate,STEM,>20,>4,0.920

In [14]:
assert(isinstance(ds_jobs, pd.DataFrame)), "Something is wrong. ds_jobs does not look like a dataframe."
assert(ds_jobs.shape == (1003, 9)), "The shape is not correct. Did you follow all the instructions in the comments?"
assert(sum(ds_jobs.columns == ['id', 'g', 'exp', 'enr', 'ed', 'm', 'y_exp', 't_job', 'cdi']) == 9), "The columns don't look right."
assert(ds_jobs.id[3] == 27385 and ds_jobs.id[552] == 13748), "The id looks wrong."
assert(ds_jobs.id.max() == 33343), "Something is wrong. Did you follow all the instructions in the comments?"
assert(ds_jobs.enr[446] == 'no_enrollment'), "Something is wrong. Did you follow all the instructions in the comments?"

### 3.2 Load a dataset, but this time better

Notice that the column names in the ds_jobs dataframe are not very informative. This is not very useful to someone looking at the data. Instead we want to load the dataset with the following `column names`:
- `'id'`
- `'gender'`
- `'relevant_experience'` - whether the candidate has experience in the field
- `'enrollment_type'` - full or part time
- `'education'` - highest attained education
- `'major'` - major subject at university
- `'years_of_experience'` - years of job experience
- `'time_since_last_job'` - years passed since last job
- `'city_development_index'` - development level of home city

In [15]:
# Load the file at 'data/ds_jobs.csv' into a dataframe ds_jobs.
# set the column names to 'id', 'gender', 'relevant_experience', 'enrollment_type', 'education', 'major',
# 'years_of_experience', 'time_since_last_job', 'city_development_index' in this order.
# You will need to check the documentation at 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html to see how you can do this.
ds_jobs = pd.read_csv('data/ds_jobs.csv', 
                      names=['id', 'gender', 'relevant_experience', 'enrollment_type', 'education', 'major',
                               'years_of_experience', 'time_since_last_job', 'city_development_index'],
                      skiprows=1)

In [16]:
# Print the dataframe head() to get an idea of what you've just loaded.
ds_jobs.head()

,id,gender,relevant_experience,enrollment_type,education,major,years_of_experience,time_since_last_job,city_development_index
0,32403,Male,True,Full time course,Graduate,STEM,9,1,0.827
1,9858,Female,True,no_enrollment,Graduate,STEM,5,1,0.920
2,31806,Male,False,no_enrollment,High School,NaN,<1,never,0.624
3,27385,Male,True,no_enrollment,Masters,STEM,11,1,0.827
4,27724,Male,True,no_enrollment,Graduate,STEM,>20,>4,0.920

In [17]:
assert(isinstance(ds_jobs, pd.DataFrame)), "Something is wrong. ds_jobs does not look like a dataframe."
assert(ds_jobs.shape == (1003, 9)), "The shape is not correct. Did you follow all the instructions in the comments?"
assert(ds_jobs.shape != (1004, 9)), "Something is wrowg. You have 1 more row than expected. Did you tell pandas to use the 1st row as header?"
assert(sum(ds_jobs.columns == ['id', 'gender', 'relevant_experience', 'enrollment_type', 'education',
       'major', 'years_of_experience', 'time_since_last_job',
       'city_development_index']) == 9), "Don't forget to tell pandas the new column names."
assert(ds_jobs.id[6] == 21465 and ds_jobs.id[553] == 24331), "The index looks wrong."
assert(ds_jobs.education[5] == 'Masters'), "Something is wrong. Did you follow all the instructions in the comments?"
assert(ds_jobs.city_development_index.max() >= 0.949), "Something is wrong. Did you follow all the instructions in the comments?"
assert(ds_jobs.education[11] == 'Graduate'), "Something is wrong. Did you follow all the instructions in the comments?"

### 3.3 Preview the datatypes

In [18]:
# Store the datatypes of all columns of ds_jobs in ds_jobs_dtypes.
# Use the method you learned in the learning notebook.
ds_jobs_dtypes = ds_jobs.dtypes

# Note: if you used the correct method, 
# the result will be a pandas series containing the datatypes of each column,
# with the index formed by the column names

In [19]:
# Check your output - there should be object, float, bool, and integer types.
ds_jobs_dtypes

id                          int64
gender                     object
relevant_experience          bool
enrollment_type            object
education                  object
major                      object
years_of_experience        object
time_since_last_job        object
city_development_index    float64
dtype: object

In [20]:
assert(sum([x in ds_jobs_dtypes.index for x in ds_jobs.columns]) == 9), "The index of ds_jobs_dtypes should contain all columns in ds_jobs."
assert(hashlib.sha256(str(ds_jobs_dtypes['relevant_experience']).encode()).hexdigest() == 'b760f44fa5965c2474a3b471467a22c43185152129295af588b022ae50b50903'), "The dtype of column 'relevant_experience' is not as expected."

### 3.4 Set the correct datatypes
The datatypes in `ds_jobs` were infered, so all `strings` are set as `objects`. Convert all these datatypes to `string` using a function you learned in the learning notebook.

In [21]:
# Set the correct datatypes in the ds_jobs dataframe - convert the objects to strings.
# Store the new dtypes in the variable ds_jobs_dtypes_converted.
ds_jobs = ds_jobs.convert_dtypes()
ds_jobs_dtypes_converted = ds_jobs.dtypes

In [22]:
# Check you solution and compare it to the result of exercise 3.3. There will be pandas datatypes now (all or
# some, depending on which method you used).
ds_jobs_dtypes_converted

id                          Int64
gender                     string
relevant_experience       boolean
enrollment_type            string
education                  string
major                      string
years_of_experience        string
time_since_last_job        string
city_development_index    Float64
dtype: object

In [23]:
assert(sum([x in ds_jobs_dtypes_converted.index for x in ds_jobs.columns]) == 9), "The index of ds_jobs_dtypes_converted should contain all columns in ds_jobs."
assert(hashlib.sha256(str(ds_jobs_dtypes_converted['relevant_experience'])[:4].encode()).hexdigest() == 'b760f44fa5965c2474a3b471467a22c43185152129295af588b022ae50b50903'), "The dtype of column 'relevant_experience' is not as expected."
assert(hashlib.sha256(str(ds_jobs_dtypes_converted['city_development_index']).lower().encode()).hexdigest() == '6bd2a66c4467bc379fd21e11d74bfa2b0f8205baf39eefc20b2c4fecb198dd48'), "The dtype of column 'city_development_index' is not as expected."
assert(hashlib.sha256(str(ds_jobs_dtypes_converted['time_since_last_job']).encode()).hexdigest()=='473287f8298dba7163a897908958f7c0eae733e25d2e027992ea2edc9bed2fa8'), "The dtype of column 'time_since_last_job' is not as expected."

### 3.5 Get information about the dataframe size
Use a method you learned in the learning notebook to retrieve the `number of rows` and the `number of columns` in the ds_jobs dataframe.

In [24]:
number_of_rows = ds_jobs.shape[0]
number_of_columns = ds_jobs.shape[1]

In [25]:
assert(hashlib.sha256(str(int(number_of_rows)).encode()).hexdigest() == '8c9a013ab70c0434313e3e881c310b9ff24aff1075255ceede3f2c239c231623'), "The number of rows is not correct."
assert(hashlib.sha256(str(int(number_of_columns)).encode()).hexdigest() == '19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebabe5ef03f7c3017bb5b7'), "The number of columns is not correct."

### 3.6 Load a json file into a dataframe
Let's load a new dataframe called hdi from the file stored at `data/HDI.json`. It's the human development index statistics in the years 1990-2019, a subset of a kaggle dataset available [here](https://www.kaggle.com/datasets/elmartini/human-development-index-historical-data).

In [26]:
# Load the datafile from data/HDI.json and store it in the variable hdi. Use the appropriate method for json files.
hdi = pd.read_json('data/HDI.json')

In [27]:
# Preview your dataframe
hdi.head()

   HDI Rank      Country   1990   1995   2000   2005   2010   2015   2019
0       169  Afghanistan  0.302  0.331  0.350  0.418  0.472  0.500  0.511
1        69      Albania  0.650  0.637  0.671  0.706  0.745  0.788  0.795
2        91      Algeria  0.572  0.595  0.637  0.685  0.721  0.740  0.748
3        36      Andorra    NaN    NaN  0.813  0.827  0.837  0.862  0.868
4       148       Angola    NaN    NaN  0.400  0.460  0.517  0.572  0.581

In [28]:
assert(isinstance(hdi, pd.DataFrame)), "Something is wrong. hdi does not look like a dataframe."
assert(hdi.shape == (189, 9)), "The shape is not correct. Did you follow all the instructions in the comments?"
assert(sum(hdi.columns == ['HDI Rank', 'Country', '1990', '1995', '2000', '2005', '2010', '2015',
       '2019']) == 9), "The columns don't look right."
assert(hdi.Country[13] == 'Bangladesh' and hdi.Country[52] == 'El Salvador'), "The Country column looks wrong."
assert(sum(hdi['HDI Rank']) > 136), "Something is wrong. Did you follow all the instructions in the comments?"
assert(sum(hdi['HDI Rank']) == 17914), "Something is wrong. Did you follow all the instructions in the comments?"

### 3.7 Get a numpy array of column names
Store the names of the `columns` in the hdi dataframe as a `numpy array`.

In [29]:
# First extract the columns into hdi_cols.
hdi_cols = hdi.columns

# Then convert the output into a NumPy array.
hdi_cols_array = hdi_cols.to_numpy()

In [30]:
# Always preview your variables to see the result of the operations.
print(hdi_cols, type(hdi_cols), "\n", sep="\n")
print(hdi_cols_array, type(hdi_cols_array), sep="\n")

Index(['HDI Rank', 'Country', '1990', '1995', '2000', '2005', '2010', '2015',
       '2019'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>


['HDI Rank' 'Country' '1990' '1995' '2000' '2005' '2010' '2015' '2019']
<class 'numpy.ndarray'>

In [31]:
assert(isinstance(hdi_cols, pd.core.indexes.base.Index)), "Use the method you learned to extract the columns into hdi_cols."
assert(len(hdi_cols) == 9), "There are 9 columns in the hdi dataframe. Did you extract them all? Also, make sure you don't change the variable hdi."
assert(isinstance(hdi_cols_array, np.ndarray)), "The hdi_cols_array does not look like a numpy array."

### 3.8 Extract the index as a numpy array
Do the same as in exercise 3.7, but not for the index of hdi.

In [32]:
# Extract the index using the method you learned.
hdi_index = hdi.index

# Convert it to a numpy array.
hdi_index_array = hdi_index.to_numpy()

In [33]:
assert(isinstance(hdi_index, pd.core.indexes.base.Index)), "Use the method you learned to extract the index into hdi_index."
assert(len(hdi_index) == 189), "The length of the hdi_index variable is incorrect."
assert(sum(hdi_index_array) == 17766), "Something is wrong with the index array."
assert(isinstance(hdi_index_array, np.ndarray)), "The hdi_index_array does not look like a numpy array."


### 3.9 Describe the data in your dataframe
Last but not least, remember how you can get some stats and info on your dataframe? If you don't, make sure to reread the learning notebook. If you do, let's jump to this final exercise.

Using only the two methods you learned to get information and statistics on a dataframe answer the three questions in the cell below manually.

In [34]:
# Use this draft cell to print stuff to help you answer the questions below.
print(hdi.info(), "\n")
print(hdi.describe(), "\n")
print(round(hdi['2019'].mean(), 2))
print(round(hdi['1995'].max(), 2))
hdi['1990'].notnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 188
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HDI Rank  189 non-null    int64
 1   Country   189 non-null    object
 2   1990      144 non-null    float64
 3   1995      148 non-null    float64
 4   2000      174 non-null    float64
 5   2005      185 non-null    float64
 6   2010      189 non-null    object
 7   2015      188 non-null    float64
 8   2019      189 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 18.8+ KB
None

         HDI Rank        1990        1995        2000        2005        2015  \
count  189.000000  144.000000  148.000000  174.000000  185.000000  188.000000
mean    94.783069    0.599653    0.615669    0.632776    0.659032    0.710511
std     54.754486    0.165550    0.168708    0.169884    0.165277    0.151868
min      1.000000    0.220000    0.231000    0.262000    0.294000    0.372000
25%     48.000000    0.480250    0.480000    0.475750    0.512000    0.586000
50%     95.000000    0.628000    0.637500    0.663000    0.689000    0.737500
75%    142.000000    0.732000    0.749000    0.771750    0.791000    0.824500
max    189.000000    0.871000    0.888000    0.915000    0.931000    0.947000

             2019
count  189.000000
mean     0.722423
std      0.149791
min      0.394000
25%      0.602000
50%      0.740000
75%      0.829000
max      0.957000

0.72
0.89

144

In [35]:
# Question 1
# What is the mean value for HDI in the year 2019 (rounded to 2 decimal points)?
mean_HDI_2019 = round(hdi['2019'].mean(), 2)

# Question 2
# What is the maximum value for HDI in the year 1995 (round to 2 decimal points)?
max_HDI_1995 = round(hdi['1995'].max(), 2)

# Question 3 
# How many non-null entries do we have for the year 1990? Store the answer as an integer.
nonnull_HDI_1990 = int(hdi['1990'].notnull().sum())

In [36]:
assert (isinstance(mean_HDI_2019, float)), "mean_HDI_2019 should be a float."
assert (isinstance(max_HDI_1995, float)), "max_HDI_1995 should be a float."
assert (isinstance(nonnull_HDI_1990, int)), "nonnull_HDI_1990 should be an integer."
np.testing.assert_almost_equal(float(mean_HDI_2019), 0.72, 2), "mean_HDI_2019 does not look right."
np.testing.assert_almost_equal(float(max_HDI_1995), 0.89, 2), "max_HDI_1995 does not look right."
assert(hashlib.sha256(str(int(nonnull_HDI_1990)).encode()).hexdigest() == '5ec1a0c99d428601ce42b407ae9c675e0836a8ba591c8ca6e2a2cf5563d97ff0'), "nonnull_HDI_1990 does not look right."